# Intro to SQL Databases

Agenda today:
- Introducing structure and overview of relational databases 
- Different types of sql databases
- Instantiate database instance on your local computer
- Working with querying data in db

## Part I. DB Structures

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database management system supports the development, administration and use of database platforms.

### What is a Relational Database? 
- An realtionsal database management system (RDBMS) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic RDBMS functions are related to create, read, update and delete operations, collectively known as CRUD.

### What is SQL?

- SQL stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

### SQLite
- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
- Does not have many features of server-based RDBMS like users and permissions.
- Great to get up and running quick, not good for complex projects.

### MySQL

- MySQL is the most popular open source SQL database. 
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances.

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
- The main disadvantage of using Oracle is that it is not free.

## Part II. Working with Sqlite DB

First of all, everyone fill out a dictionary of the following structure:
```javascript
    {'first_name': 'Fangfang',
    'birthday':'09-07'
    }```

### Instantiating, creating, and inserting data into a database

In [1]:
## instantiate a sql instance on your local computer 
import sqlite3

# we then need to establish a connection object that represent the database
conn = sqlite3.connect('students.db')

# we then create a cursor that allow us to interact with, and create sql commands
c = conn.cursor()

In [2]:
# create a table, insert entries, and query results 
c.execute("""CREATE TABLE students (
            first_name text,
            birth_date text,
            num_siblings integer
            )""")

In [ ]:
# your_info
students = {
    'first_name' : 'something',
    'birthday' :  '09-07',
    'num_siblings' : 2
}

In [ ]:
students

In [ ]:
# insert entries into this db 
c.execute("""INSERT INTO students VALUES ('something', '09-07',2)""")

# This method sends a COMMIT statement to the MySQL server, committing the current transaction.
#Since by default Connector/Python does not autocommit, it is important to call this method after every 
# transaction that modifies data for tables that use transactional storage engines.
conn.commit()

# closing the cursor
c.close()

# closing the connection
conn.close()

In [ ]:
# once you have closed the cursor and the connection, you cannot query from the db unless 
# you establish another connection

In [ ]:
conn = sqlite3.connect('students.db')
c = conn.cursor()

In [ ]:
# insert even more entries into this table
c.execute("""INSERT INTO students VALUES ('sean', '02-05',1)""")
conn.commit()

In [ ]:
# let's see what we have in our students table

# you can either access the said db via a GUI application, or you can

c.execute("""select * from students""")
c.fetchall()

In [ ]:
# lets insert all of the data into db 
import json
f = open('students.json','r')
student_data = json.loads(f.read())

In [ ]:
student_data

In [ ]:
student_data[0]['first_name']

In [ ]:
# insert one entry from the dictionary into the sql students table
c.execute("INSERT INTO students VALUES (?,?,?)",(student_data[0]['first_name'], student_data[0]['birthday'], student_data[0]['siblings']))

In [ ]:
conn.commit()

In [ ]:
c.execute("select * from students")
c.fetchall()

In [ ]:
# try this yourself! insert every entry from the dictionary into 
for i in range(1, len(student_data)-1):
    c.execute("INSERT INTO students VALUES (?, ?, ?)", (student_data[i]['first_name'],student_data[i]['birthday'],student_data[i]['siblings']))
    conn.commit()

In [ ]:
# examine whether the changes have been committed
c.execute("select * from students")
c.fetchall()

### Selecting, querying, and filtering data

In [ ]:
# querying 
c.execute("SELECT * FROM students")
conn.commit()
c.fetchall()

In [ ]:
# querying and filtering 
c.execute("SELECT * FROM students where first_name = 'Grace'")
conn.commit()
c.fetchone()

In [ ]:
# more querying
c.execute("SELECT * FROM students WHERE first_name != 'Kevin'")
conn.commit()

In [ ]:
c.fetchall()

In [ ]:
# ordering 
c.execute("SELECT * FROM students order by first_name")
c.fetchall()

In [ ]:
# simple operations 
c.execute("SELECT Count (*) FROM students")
c.fetchall()

In [ ]:
# filtering and limiting

# select the people who are only child
c.execute("select * from students where num_siblings < 1")
conn.commit()
c.fetchall()

In [ ]:
# want three people who has siblings 
c.execute("select * from students where num_siblings > 0 limit 3")
conn.commit()
c.fetchall()

In [ ]:
# only selecting certain columns
c.execute("select first_name from students where num_siblings > 2 ")
conn.commit()
c.fetchall()

## Joining and working with multiple tables 
- Like pandas df, sql allows us to work with multiple dataframes with ease with different types of JOINS
- What are they?

## Part III. Communicating and Comparison with Pandas

In [ ]:
import pandas as pd
df = pd.read_sql_query("select * from students", conn)

In [ ]:
df.head()

In [ ]:
# remember how we save this to a csv?
df.to_csv("students.csv")